body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.btn {
    height: 50px;
    width: 50px;
    margin: 15px;
    font-size: 30px;
}

.number {
    border: 1px solid rgb(4, 53, 24);
    border-radius: 10px;
}

.number:hover {
    background-color: rgb(145, 180, 84);
}

.operator {
    border: 1px solid red;
    border-radius: 10px;
}

.operator:hover {
    background-color: rgb(248, 159, 159);
}

.decimal {
    border: 1px solid burlywood;
    border-radius: 10px;
}

.decimal:hover {
    background-color: rgb(245, 212, 170);
}

#clear-btn {
    border: 1px solid rgb(42, 31, 119);
    border-radius: 10px;
}

#clear-btn:hover {
    background-color: rgb(93, 72, 228);
}

.equal {
    border: 1px solid rgb(4, 53, 24);
    border-radius: 10px;
}

.equal:hover {
    background-color: rgb(145, 180, 84);
}

#display {
    width: 230px;
    border: 1px solid black;
    height: 60px;
    margin: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
}

.first-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.previous {
    font-size: 15px;
}

.current {
    font-size: 20px;
}